.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
}

.main img {
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.headline {
  color: #fff;
  position: absolute;
  top: 100px;
  right: auto;
  font-size: 64px;
  padding: 50px;
}

.main img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.search-bar {
  width: 400px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background: transparent;
  border-radius: 20px;
  position: absolute;
  bottom: 150px;
  z-index: 10;
  left: 50.5%;
  transform: translateX(-50%);
}

.search {
  z-index: 10;
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border-radius: 30px;
  padding: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.search-bar input {
  width: 500px;
  height: 60px;
  padding: 18px;
  border-radius: 30px;
  outline: none;
  border: none;
  position: relative;
  font-size: 16px;
}

.search-bar button {
  width: 50px;
  height: 50px;
  min-width: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: absolute;
  right: -35px;
}

.listings-container {
  display: flex;
  padding: 5px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore-btn {
  margin-top: 5px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 30px;
  font-size: 15px;
  background-color: transparent;
  transition: all 0.3s ease;
}

.explore-btn i {
  font-size: 18px;
}

.explore-btn:hover {
  background-color: #007bff;
  color: white;
}

.loading {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  background: linear-gradient(#f9f9f9, #e3e3e3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.listings {
  width: 100%;
  padding: 30px 20px;
  margin-top: 20px;
  margin-left: -12px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 15px;
}

.listings::-webkit-scrollbar {
  display: none;
}

.listing-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.listing {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-decoration: none;
}

.listing-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.listing-details h5 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.listing-details p {
  font-weight: 400;
  font-size: 12px;
  color: #555;
  margin: 0;
}




@media (max-width: 1200px) {
  .headline {
    font-size: 40px;
    padding: 30px;
    top: 80px;
  }

  .search-bar,
  .search {
    width: 90vw;
    min-width: 220px;
    max-width: 500px;
  }

  .search-bar input {
    width: 100%;
    min-width: 120px;
  }
}

@media (max-width: 900px) {
  .main img {
    height: 80vh;
  }

  .headline {
    font-size: 52px;
    padding: 30px;
    top: 120px;
  }

  .search-bar {
    width: 90vw;
    min-width: 200px;
    max-width: 400px;
    position: absolute;
    top: 420px;
  }

  .search-bar input {
    font-size: 14px;
    padding: 12px;
    width: 100%;
    height: 50px;
  }

  .search-bar button {
    width: 40px;
    height: 40px;
    font-size: 16px;
    right: 15px;
  }

  .listings {
    padding: 25px 15px;
    gap: 10px;
    height: 340px;
  }

  .listing-img img,
  .listing {
    width: 220px;
    height: 220px;
  }
}

@media (max-width: 600px) {
  .main img {
    height: 70vh;
  }

  .headline {
    font-size: 36px;
    padding: 30px;
    top: 130px;
    left: 10px;
    right: 10px;
    width: 100vw;
    text-align: center;
  }

  .search-bar {
    width: 80vw;
    height: 80px;
    min-width: 100px;
    max-width: 98vw;
    left: 50%;
    transform: translateX(-50%);
    top: 350px;
    padding: 10px;
  }

  .search-bar input {
    font-size: 14px;
    padding: 10px;
    height: 120%;
  }

  .search-bar button {
    width: 45px;
    height: 45px;
    font-size: 14px;
    right: 21px;
  }

  .listings {
    height: 300px;
    padding: 12px 4px;
    gap: 12px;
  }

  .listing-img img,
  .listing {
    width: 200px;
    height: 200px;
  }

  .listing-details h5 {
    font-size: 12px;
  }

  .listing-details p {
    font-size: 12px;
  }
}